PORT=8001
NODE_ENV=development

AWS_REGION=YOUR-AWS-REGION
S3_BUCKET_NAME=YOUR-S3-BUCKET-NAME
CLOUDFRONT_DOMAIN=YOUR-CLOUDFRONT-DOMAIN

STRIPE_SECRET_KEY=YOUR-STRIPE-SECRET-KEY

CLERK_PUBLISHABLE_KEY=pk_test_c3F1YXJlLWJhc2lsaXNrLTI2LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_521cq1GqgHfn9V2UydJGaAJG71GZXSZPRtmFijG9Cb
